# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code keep settings/extensions, ignore workspace state
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.history/*

# Angular
.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# System
.DS_Store
Thumbs.db

# Vercel
.vercel
